
* {
    text-align: center;

}

.logo {
    margin: auto
}

.jumbotron {
    margin: 100px auto;
    max-width: 50%;
    text-align: center;
}

.card {
    width: 18rem;
    margin: 100px auto;
}
body {
    background-color: #282c34;
    padding: 40px;
    font-family: Sans-Serif;
    text-align: center;
}
.centered {
    height: 100vh;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.textfield {
    margin-top: 20px;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: 5em;
}

.form-line{
    text-align: center;}

.button{margin-left: 121px;
    margin-top: 19px;}

table {
    border: 2px solid #555;
    border-collapse: collapse;
    font: 16px "Lucida Grande", "Helvetica", "Arial", sans-serif;
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
}
thead > tr > th {
    background-color: #977042;
    font-size: 18px;
    border-bottom: 2px solid #999;
}

.datePicker {
    width: 100%;
}
